.button {
    margin: 0;
    background: none;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .3);
    border: .1rem solid rgba(0, 0, 0, .3);
    font-weight: 500;
    padding: 1rem;
    border-radius: .4rem;
    max-width: 15rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all .4s linear;
    
    &:hover {
        border-color: $primary-color;
        color: $primary-color;
    }

    &--shadow {
        border: none;
    }

    &--fill {
        color: white;
        background-color: $primary-color;
        border-color: $primary-color;

        &:hover {
            color: white;
        }
    }
}